<div class="header">
  <!-- ログインしている時 -->
  <% if session[:students_name] %>
    <div class="header-left">
      <a href="/home/index" class="header-nav header-nav-l"><p>vi高専 -vi kosen-</p></a>
    </div>
    <div class="header-right">
      <!--<a href="/home/about" class="header-nav header-nav-r"><p>vi kosenとは</p></a>-->
      <a href="/companies/select" class="header-nav header-nav-r"><p>参加企業を見る</p></a>
      <% student_id = session[:students_id]%>
      <a href="<%= "/students/my_page/#{student_id}" %>" class="header-nav header-nav-r"><p><%= session[:students_name] %></p></a>
      <a href="/logout/students" class="header-nav header-nav-r"><p>ログアウト</p></a>
    </div>
    <!-- ログインしてない時 -->
  <% else %>
    <div class="header-left">
      <a href="/home/index" class="header-nav header-nav-l"><p>vi高専 -vi kosen-</p></a>
    </div>
    <div class="header-right">
      <!--<a href="/home/about" class="header-nav header-nav-r"><p>vi kosenとは</p></a>-->
      <a href="/students/login_form" class="header-nav header-nav-r"><p>ログインする</p></a>
      <a href="/students/new" class="header-nav header-nav-r"><p>新規登録する</p></a>
    </div>
  <% end %>
</div>
<!-- // header -->

<div class="c-my_page-title">
  <h1>詳細情報の設定</h1>
</div>

<div class="c-content1">
  <a href="<%= "/students/my_page/#{@students.id}" %>" class="c-edit-btn-back-link"><p class="c-edit-btn-back-word">もどる</p></a>

  <%= form_tag("/students/#{@students.id}/update") do %>
    <div class="l-margin l2-new">
      <div class="l2-items-new">
        <p class="l2-items-name">名前</p>
        <input class="l2-input l2-bc-c" type="text" name="s_name" value="<%= @students.s_name %>" placeholder="（例）小瀬川博将">
      </div>
      <div class="l2-items-new">
        <p class="l2-items-name">メールアドレス</p>
        <input class="l2-input l2-bc-m" type="text" name="s_email" value="<%= @students.s_email %>" placeholder="（例）g21125@rcs.kutc.jp">
      </div>
      <div class="l2-items-new">
        <p class="l2-items-name">パスワード</p>
        <input class="l2-input l2-bc-k" type="password" name="s_password" value="<%= @students.s_password %>">
      </div>
      <div class="l2-items-new">
        <p class="l2-items-name">高専名</p>
        <input class="l2-input l2-bc-m" type="text" name="s_school" value="<%= @students.s_school %>" placeholder="（例）近畿大学工業高等専門学校">
      </div>
      <div class="l2-items-new">
        <p class="l2-items-name">学年</p>
        <input class="l2-input l2-bc-m" type="text" name="s_grade" value="<%= @students.s_grade %>" placeholder="（例）5年">
      </div>
    </div>
    <!-- // l-margin-->
    <div class="c_edit-btn-save">
      <input class="c-my_page-img-btn" type="submit" value="保存">
    </div>
    <!-- // c_edit-btn-save -->
  <% end %>
</div>
<!-- // c-content1 -->





<div class="footer">
  <div class="footer-flex">
    <a href="/" class="footer-link"><p>お問い合わせ</p></a>
    <p class="footer-text">Powered by vi kosen.</p>
  </div>
</div>
<!-- // footer-->