<div class="header">
  <!-- ログインしている時 -->
  <% if session[:companies_name] %>
    <div class="header-left">
      <a href="/home/index" class="header-nav header-nav-l"><p>vi高専 -vi kosen-</p></a>
    </div>
    <div class="header-right">
      <!--<a href="/home/about" class="header-nav header-nav-r"><p>vi kosenとは</p></a>-->
      <a href="/students/select" class="header-nav header-nav-r"><p>参加学生を見る</p></a>
      <% company_id = session[:companies_id]%>
      <a href="<%= "/companies/my_page/#{company_id}" %>" class="header-nav header-nav-r"><p><%= session[:companies_name] %></p></a>
      <a href="/logout" class="header-nav header-nav-r"><p>ログアウト</p></a>
    </div>
    <!-- ログインしてない時 -->
  <% else %>
    <div class="header-left">
      <a href="/home/index" class="header-nav header-nav-l"><p>vi高専 -vi kosen-</p></a>
    </div>
    <div class="header-right">
      <!--<a href="/home/about" class="header-nav header-nav-r"><p>vi kosenとは</p></a>-->
      <a href="/students/login_form" class="header-nav header-nav-r"><p>ログインする</p></a>
      <a href="/students/new" class="header-nav header-nav-r"><p>新規登録する</p></a>
    </div>
  <% end %>
</div>
<!-- // header -->

<div class="c-my_page-title">
  <h1>詳細情報の設定</h1>
</div>

<div class="c-content1">
  <a href="<%= "/companies/my_page/#{@companies.id}" %>" class="c-edit-btn-back-link"><p class="c-edit-btn-back-word">もどる</p></a>

  <%= form_tag("/companies/#{@companies.id}/update_bottom") do %>
    <div class="l-margin l2-new">
      <div class="l2-items-new">
        <p class="l2-items-name">企業情報</p>
        <input class="l2-input l2-bc-c" type="text" name="c_url" value="<%= @companies.c_url %>" placeholder="（例）https://www.vi_kosen.com">
      </div>
      <div class="l2-items-new">
        <p class="l2-items-name">企業ビジョン</p>
        <input class="l2-input l2-bc-m" type="text" name="c_content" value="<%= @companies.c_content %>" placeholder="（例）一人一人が活躍できる社会を創る">
      </div>
    </div>
    <!-- // l-margin-->
    <div class="c_edit-btn-save">
      <input class="c-my_page-img-btn" type="submit" value="保存">
    </div>
    <!-- // c_edit-btn-save -->
  <% end %>
</div>
<!-- // c-content1 -->





<div class="footer">
  <div class="footer-flex">
    <a href="/" class="footer-link"><p>お問い合わせ</p></a>
    <p class="footer-text">Powered by vi kosen.</p>
  </div>
</div>
<!-- // footer-->